@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Comic";
  src: url("/public/fonts/Comic\ Relief\ Bold.otf");
}

body {
  background-color: rgb(23 23 23);
  font-family: "Comic";
}
